@model Someren_Database.ViewModels.OrderStudentDrinkViewmodel
    
@{
	ViewData["Title"] = "Confirm Order";
}

<h1>Order Confirmation</h1>

<form action="/Drinks/ProcessOrder" method="POST">
   
    <input type="hidden" asp-for="Order.StudentNumber" />
    <input type="hidden" asp-for="Order.DrinkId" />
    <input type="hidden" asp-for="Order.Amount" />
    <input type="hidden" asp-for="Drink.DrinkId" />  

    <div>
        <p>Name: @Model.Student.FirstName</p>
        <P>Last Name: @Model.Student.LastName</P>
        <p>Drink: @Model.Drink.Name</p>
        <p>Amount: @Model.Order.Amount</p>
    </div>

    <p>*After confirmation you will be redirected to add a new order if you wish*</p>

    <button type="submit" class="btn btn-primary">Confirm Order</button>    
    <a href="/Drinks/OrderDrinks" class="btn btn-primary">Cancel</a>
</form>

