@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center fs-1">
    <h1>Welcome to the Someren Trip</h1>
</div>

<div class="button-container">
    <a href="/Students/StudentsIndex" class="custom-btn btn-students">See Students</a>
    <a href="/Teachers/TeachersIndex" class="custom-btn btn-teachers">See Teachers</a>
    <a href="/Room/RoomIndex" class="custom-btn btn-rooms">See Rooms</a>
</div>