@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p> Last Updated: [March 2025] </p>
<p>
    Welcome to Someren! Your privacy is important to us, and we want you to feel safe while using
    our chat platform.
</p>

<p>The information we collect, its protected and private.</p>
    
